.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: calc(3px + 2vmin);
}

.appLogo {
  float: left;
  padding: 5px;
}

.leaflet-container {
  width: 68%;
  height: 89vh;
  border-style: solid double;
  border-color: gray;
}

.leaflet-popup-content-wrapper {
  background-color: lightgray;
}

.leaflet-popup-content {
  width: 120px;
  color: black;
}

.footerDiv {
  font-size: 15px;
  margin-top: 7px;
}

.leaflet-popup-content .popupHeader {
  text-align: center;
}

.globalElement {
  width: 30%;
  float: left;
  padding-bottom: 5px;
}

.tooltip-wrap {
  z-index: 1000;
}

.history-graph {
  border-style: solid double;
  border-color: gray;
  float: left;
  width: 600px;
  height: 450px;
  margin: 0px 10px 10px 10px;
}

.tickLabel {
  fill: white !important;
}

.chartDiv {
  width: 600px;
  height: 350px;
}

.top-countries {
  border-style: solid double;
  border-color: gray;
  float: left;
  width: 600px;
  height: 420px;
  margin-top: 480px;
  margin-left: -614.9px;
}

.top-countries-text {
  text-align: left;
  margin-left: 10px;
}

.top-countries-text div {
  border-style: none none solid none;
  border-width: 2px;
  border-color: gray;
  margin-bottom: 1px;
}
