.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  font-size: calc(3px + 2vmin);
}

.globalDiv {
}

.appLogo {
  float: left;
  padding: 5px;
}

.leaflet-container {
  width: 68%;
  height: 90vh;
  border-style: solid double;
  border-color: gray;
}

.leaflet-popup-content-wrapper {
  background-color: lightgray;
}

.leaflet-popup-content {
  width: 120px;
  color: black;
}

.footerDiv {
  font-size: 15px;
  margin-top: 7px;
}

.leaflet-popup-content .popupHeader {
  text-align: center;
}

.globalElement {
  width: 30%;
  float: left;
}

.tooltip-wrap {
  z-index: 1000;
}

.history-graph {
  border-style: solid double;
  float: left;
  width: 600px;
  height: 400px;
  margin: 10px;
}

.tickLabel {
  fill: white !important;
}

.chartDiv {
  width: 600px;
  height: 300px;
}
